//! Color Variables

$color-white: #f7f7f7;
$color-grey-light: #f7f7f7;
//! primary
$color-primary-1: #ef3e36;
$color-primary-1-light:#fed5d5;
$color-primary-1-dark: #800302;
$color-primary-2: #76c26a;
$color-primary-3: #6282bf;

//! secondary
$color-secondary-1: #ffcf66;
$color-secondary-2: #7fcab5;
$color-secondary-3: #a164aa;

//! tertiary
$color-tertiary-1: #ff9900;
$color-tertiary-2: #5dbfec;
$color-tertiary-3: #a164aa;

$color-primary-white: #ffffff;
$color-primary-grey: #cecece;
$color-primary-dark: #131313;


$color-y1: #FFB119;
$color-text-black: #0f0f0f;
$color-text-grey: #3f3f3f;
$color-text-white: #f0f0f0;

$grid-width: 114rem;
//! gutter
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//! font
$default-font-size: 1.6rem;