.u-mb {
    &-1rem {
        margin-bottom: 1rem;
    }
    &-1rem5 {
        margin-bottom: 1.5rem;
    }
    &-2rem {
        margin-bottom: 2rem;
    }
    &-5rem {
        margin-bottom: 5rem;
    }
}
